@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f6f4ef;
  margin: 0;
  padding: 0;
  font-family: "Pretendard"; /* 원하는 폰트 지정 */
  font-size: 16px;
  /* line-height: 1.5; */
}

.StudyCreate {
  background-color: #ffffff;
  width: 696px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 24px 24px 40px 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.page-title {
  font-weight: 800;
  font-size: 24px;
}

.StudyCreate form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.StudyCreate form .input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.StudyCreate form input,
.StudyCreate form textarea {
  height: 40px;
  border-radius: 15px;
  border: 1px solid #dddddd;
  padding: 0 25px;
}

.StudyCreate form textarea {
  height: 98px;
  padding: 20px 25px;
}

.StudyCreate label {
  font-weight: 600;
  font-size: 18px;
  display: block;
}

fieldset {
  display: flex;
}

.create-button {
  /* display: flex;
  align-items: center; 
  justify-content: center; */

  position: relative;

  background-color: #99c08e;
  border: 0;
  height: 58px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-family: "EF_jejudoldam", Arial, sans-serif;
  z-index: 0;
  text-shadow: 0px -2.2px 0px #578246;
}

.error-msg {
  font-size: 14px;
  color: #c41013;
}

.error-input {
  border: 1px solid #c41013;
}

.background-option-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.input-container-password {
  position: relative;
}

.btn-showPassword {
  position: absolute;

  width: 24px;
  top: 43px;
  left: 660px;
}

@media (max-width: 744px) {
  /* 744px 이하에서 적용될 스타일 */
  .background-option-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  .StudyCreate {
    width: 80%;
  }
  .background-option-container {
    gap: 20px;
  }
  .background-option-container img {
    height: auto;
    object-fit: contain;
    max-height: 70%;
  }
  #header-button {
    display: none;
  }
}

@media (max-width: 365px) {
  /* 365px 이하에서 적용될 스타일 */
  .StudyCreate {
    width: 80%;
  }
  .background-option-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
  }
  .page-title {
    font-size: 18px;
  }
  label {
    font-size: 14px;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.text-color {
  color: #578246;
}
