.study {
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 88.9rem;
  align-items: center;
  padding: 4rem 40px;
  box-sizing: border-box;
  color: #414141;
  border-radius: 2rem;

  max-width: 1200px;
}
.study-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 100%;
}
/* study top  */

.study-top {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.study-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.study-menu-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.study-tilte-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.study-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.study-tilte-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}
.study-tilte-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.4rem;
  height: 4.8rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #dddddd;
  color: #818181;
  text-decoration: none;
}
.study-tilte {
  font-size: 3.2rem;
  font-weight: 800;
}

.study-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.study-description {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.study-point {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.point-text {
  font-size: 1.6rem;
}

.study-content-subtitle {
  font-weight: 400;
  color: #818181;
}

/* study bottom  */
.study-bottom {
  width: 112rem;
  min-height: 51.1rem;
  border-radius: 2rem;
  border: 0.1rem solid #dddddd;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.study-bottom-wrap {
  width: 107.2rem;
  min-height: 41rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.week {
  display: flex;
  justify-content: space-around;
  width: 82.6rem;
  height: 2.6rem;
  color: #818181;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  /* margin-bottom: 2rem; */
}

.study-bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.habit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.habit {
  width: 246px;
  height: 64px;
  padding: 0px 24px 0px 24px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.skicker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 82.6rem;
  height: 2.6rem;
}

.no-habit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #818181;
}

.emoji-container {
  display: flex;
  gap: 1rem;
}

.emoji-picker-wrapper {
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin-top: 40px;
}

.emoticon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
  background: #ffffff4d;
  padding: 6px 8px 6px 8px;
  border-radius: 5rem;
  gap: 0.5rem;
}
.more-Emoji-wrapper {
  z-index: 1000;
  margin-top: 40px;
}

.more-Emoji-container {
  display: flex;
  max-width: 24.2rem;
  padding: 1.2rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 12px 0px #00000014;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 1.5rem;
}

@media (max-width: 1200px) {
  .study {
    max-width: 96vw; /* 브라우저 화면 너비의 100%로 제한 */
    width: 100%; /* 기본 너비를 부모 요소 또는 컨테이너의 100%로 설정 */
  }
}
