.VerifyPasswordModal:modal {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
  padding: 40px 30px;

  width: 648px;
  background-color: white;
  border: none;
  border-radius: 20px;
}

.VerifyPasswordModal h3 {
  font-size: 24px;
  font-weight: 800;
}

.VerifyPasswordModal p {
  color: #818181;
  font-weight: 500;
  font-size: 18px;
}

.modal-cancel-button {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: white;
  color: #578246;
  font-size: 16px;
  font-weight: 500;
  top: 40px;
  left: 565px;
}

.VerifyPasswordModal form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.VerifyPasswordModal input {
  height: 48px;
  border-radius: 15px;
  border: 1px solid #dddddd;
  padding: 0 25px;
}

.VerifyPasswordModal .btn-showPassword {
  position: absolute;
  top: 187px;
  left: 580px;
}

.modal-button {
  /* display: flex;
      align-items: center; 
      justify-content: center; */

  position: relative;

  background-color: #99c08e;
  border: 0;
  height: 58px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-family: "EF_jejudoldam", Arial, sans-serif;
  z-index: 0;
  cursor: pointer;
  margin-top: 20px;
}

.modal-button::before {
  content: attr(data-content);
  position: absolute;
  top: 13px;
  left: 236.5px;
  color: #5e7d57;
  z-index: -1;
}
