/* TodoTemplateBlock */
.todo-template-block {
  width: 1300px;
  min-height: 900px;
  position: relative;
  background: white;
  border-radius: 16px;

  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 32px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
}

.list-nav {
  display: flex;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.list-title {
  margin-left: 70px;
  color: rgba(65, 65, 65, 1);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.todo-edit-button {
  margin-left: 70px;
  color: rgba(129, 129, 129, 1);
  background-color: rgba(0, 0, 0, 0);

  border: none;
  background-color: white;

  color: gray;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 900;
  line-height: 16.71px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-left: 30px;
}

.edit-button:hover {
  background-color: rgba(0, 0, 0, 0);
}
