html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Pretendard Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "JejuDoldam";
  src: url("./assets/fonts/jeju-doldam.woff2") format("woff2"),
    url("./assets/fonts/jeju-doldam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("./assets/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
